Title: Meetup
NoSidebar: false
NoContainer: false
NoGutter: false
---

<div class="container">
    <div class="row">
        <div class=" span12 col-sm-12">
        @Html.Partial("_NextMeetup") 
        </div>
    </div>
</div>


